<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title >this is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p id="contact-manager">Effortlessly manage your contacts with Smart Contact Manager, the web service designed to simplify your contact management experience.</p>
			<button type="button" class="btn btn-success">Get Start</button>
		</div>
	</section>

</body>
</html>